#root{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.employeesWrapper, .employeesLogWrapper {
  justify-self: flex-start;
  background: whitesmoke;
  padding: 15px;
  box-shadow: 0 0 8px grey;
  border-radius: 6px;
  text-align: center;
}
th {
  background: #6fa2ff;
  padding: 8px;
}
td{
  background: rgba(182, 208, 255, 0.78);
  padding: 5px;
}
.fio {
  cursor: pointer;
  transition: .2s;
}
.fio:hover {
  color: grey;
  text-decoration: underline;
}
.loader{
  align-items: center;
  justify-content: center;
}
